**/node_modules

**/dist
**/build
**/lib/

**/.DS_Store
**/.idea
**/.npmrc

**/.cache
**/*.code-workspace
**/*.log
**/package.json.lerna_backup

**/.env
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local

**/.vscode

packages/tre-se-app/src/i18n/translations/*.json

.size-snapshot.json
.env.development
